body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/caddie.jpg);
}
.fondGris{
    /*background-color: grey;*/
    background-image: url(../img/caddie.jpg);
}
.formulaire{
    margin-top: 20vh;
    padding: 20px;
    background-color: rgba(75, 243, 159, 0.932);
}
footer{
    color: whitesmoke;
}
.marge{
    margin-top:50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}